body {
  font-family: "poppins", sans-serif;
}
.page-content {
  margin-top: 45px;
  padding-top: 45px;
}

footer {
  border-top: 1px solid #f1f5ff;
  margin-top: 50px;
  p {
    color: #dbdfea;
  }
}

.form-color {
  background-color: #f3f3f3;
}
