.card-dashboard-product {
    margin-bottom: 15px;
    
    .card-body {
       .product-title{
        color: #0C0D36;
        font-size: 22px;
        font-weight: normal;
       }

       .product-category{
        color: #C5C5C5;
        font-size: 18px; 
        font-weight: normal;
       }
    }
}